body {
    background-color:#1E2424;
}
h1 {
    color: #AF7B8F;
    font-family: sans-serif;
    font-weight: 600;

}
legend {
    color: #AF7B8F;
    font-family: sans-serif;
    font-weight: 600;
}
h4 {
    color: #A39093;
    font-family: sans-serif;
    font-weight: 600;
}
p {
    color: #A39093;
    font-size: small;
    font-family: sans-serif;
}
img {
    width: 250px
}
label {
    color: #A39093;
    font-size: small;
    font-family: sans-serif;
}